.github/**
.vscode/**
.vscode-test/**
src/**
webview-ui/**
out/**
node_modules/**
coverage/**
.tmp/**
.gitignore
.yarnrc
.nvmrc
webpack.config.js
eslint.config.js
tsconfig.test.json
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!dist/**
CLAUDE.md
CONTRIBUTORS.md
TODO.md
